<!DOCTYPE html>
<html lang="en">
<head>
  <title>Masters PU College</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}" type="text/css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom: 30px;color:#fff;background-color: #3498DB;padding: 2px">
  <h1><b>Masters PU College,Hassan</b></h1>
  <p>Students can download these model question papers as a reference to prepare accordingly for their Karnataka 2nd PUC Exam 2020</p> 
</div>
  
<div class="container">
  <div class="row">
  <h4 style="padding: 5px;text-align: center;">Note : Question Papers will be uploaded at Morning 9:00am and solutions will be available at evening 4:00pm.</h4>
  <br>
    <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
    <table>
      <caption style="text-align: center;">PHYSICS/ CHEMISTRY TIME TABLE </caption>
      
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">PHYSICS  2nd PU chapters</th>
          <th scope="col">CHEMISTRY 2nd PU chapters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Date">31/03/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">ELECTRIC CHARGES AND FIELDS,
            ELECTROSTATIC POTENTIAL AND CAPACITANCE</td>
          <td data-label="CHEMISTRY 2nd PU chapters">SOLID STATE </td>
        </tr>
        <tr>
          <td data-label="Date">02/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">CURRENT ELECTRICITY</td>
          <td data-label="CHEMISTRY 2nd PU chapters">SOLUTIONS</td>
        </tr>
        <tr>
          <td data-label="Date">04/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">MOVING CHARGES AND MAGNETISM,
            MAGNETISM AND MATTER</td>
          <td data-label="CHEMISTRY 2nd PU chapters">ELECTROCHEMISTRY</td>
        </tr>
        <tr>
          <td data-label="Date">06/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">ELECTROMAGNETIC INDUCTION,
            ALTERNATING CURRENTS
            ELECTROMAGNETIC WAVES
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">CHEMICAL KINETICS</td>
        </tr>
        <tr>
          <td data-label="Date">08/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">RAY OPTICS</td>
          <td data-label="CHEMISTRY 2nd PU chapters">SURFACE CHEMISTRY</td>
        </tr>
        <tr>
          <td data-label="Date">10/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">WAVE OPTICS</td>
          <td data-label="CHEMISTRY 2nd PU chapters">HALOALKENES & HALOARENES</td>
        </tr>
        <tr>
          <td data-label="Date">12/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">DUAL NATURE OF RADIATION AND MATTER,  ATOMS</td>
          <td data-label="CHEMISTRY 2nd PU chapters">ALCOHOLS, PHENOLS & ETHERS</td>
        </tr>
        <tr>
          <td data-label="Date">14/04/2020</td>
          <td data-label="PHYSICS  2nd PU chapters">NUCLEI, 
            SEMICONDUCTOR ELECTRONICS
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">ALDEHYDES, KETONES & CARBOXYLIC ACIDS</td>
        </tr>
          
        <tr>
          <td data-label="Date">16/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">UNITS AND DIMENSIONS, MOTION IN A STRAIGHT LINE, VECTORS
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">AMINES</td>
        </tr>
          <tr>
          <td data-label="Date">18/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">MOTION IN A PLANE, GRAVITATION
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">BIOMOLECULES</td>
        </tr>
          <tr>
          <td data-label="Date">20/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">LAWS OF MOTION
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">POLYMERS</td>
        </tr>
          <tr>
          <td data-label="Date">22/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">WORK POWER ENERGY, SYSTEMS OF PARTICLES AND ROTATIONAL MOTION
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">CHEMISTRY IN EVERY DAY LIFE</td>
        </tr>
          <tr>
          <td data-label="Date">24/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">MECHANICAL PROPERTIES O SOLIDS,
MECHANICAL PROPERTIES OF FLUIDS
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">GENERAL PRICIPLES &amp; PROCESS OF
EXTRACTION OF ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">26/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">THERMAL PROPERTIES OF MATTER,THERMODYNAMICS, KINETIC THEORY OF GASES
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">P-BLOCK ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">28/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">OSCILLATIONS
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">THE d &amp; f BLOCK ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">30/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">WAVES
            </td>
          <td data-label="CHEMISTRY 2nd PU chapters">CO-ORDINATION COMPOUNDS</td>
        </tr>
           
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
    <table>
      <caption style="text-align: center;">MATHEMATICS/ BIOLOGY TIME TABLE</caption>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">MATHEMATICS  CHAPTERS</th>
          <th scope="col">BIOLOGY CHAPTERS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Date">1/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">SETS, RELATIONS AND FUNCITONS</td>
          <td data-label="BIOLOGY CHAPTERS">THE LIVING WORLD, REPRODUCTION IN ORGANISMS </td>
        </tr>
        <tr>
          <td data-label="Date">03/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TRIGONOMETRY, ITF</td>
          <td data-label="BIOLOGY CHAPTERS">SEXUAL REPRODUCTION IN FLOWERING PLANTS</td>
        </tr>
        <tr>
          <td data-label="Date">05/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">MATRICES, DETERMINANTS, 
            BINOMINAL THEOREM
            </td>
          <td data-label="BIOLOGY CHAPTERS">PRINCIPLES OF INHERITANCE AND VARIATION</td>
        </tr>
        <tr>
          <td data-label="Date">07/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">LIMITS, CONTINUITY AND DIFFERINTATION</td>
          <td data-label="BIOLOGY CHAPTERS">ANATOMY OF FLOWERING PLANTS</td>
        </tr>
        <tr>
          <td data-label="Date">09/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">INDEFINITE, DEFINITE INTEGRALS, COMPLEX NUMBERS</td>
          <td data-label="BIOLOGY CHAPTERS">BIOLOGICAL CLASSIFICATION</td>
        </tr>
        <tr>
          <td data-label="Date">11/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">AREAS, STRAIGHT LINES, CONIC SECTION</td>
          <td data-label="BIOLOGY CHAPTERS">PLANT KINGDOM</td>
        </tr>
        <tr>
          <td data-label="Date">13/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">VECTORS, 3D, MATHEMATICAL REASONING.</td>
          <td data-label="BIOLOGY CHAPTERS">MORPHOLOGY OF FLOWERING PLANTS</td>
        </tr>
          <tr>
          <td data-label="Date">15/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">PROBABILITY, RANDOM VARIABLES, STATISTICS</td>
          <td data-label="BIOLOGY CHAPTERS">ANIMAL KINGDOM ,HUMAN REPRODUCTION</td>
        </tr>
          <tr>
          <td data-label="Date">17/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">APPLICATION OF DERIVATIVES, DIFFERENTIAL EQUASTIONS</td>
          <td data-label="BIOLOGY CHAPTERS">MOLECULAR BASIS OF INHERITANCE , REPRODUCTIVE HEALTH</td>
        </tr>
          <tr>
          <td data-label="Date">19/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TOTAL TRIGONOMETRY INCLUDING I.T.F</td>
          <td data-label="BIOLOGY CHAPTERS">CELL: THE UNIT OF LIFE ,CELL CYCLE AND CELL DIVISION</td>
        </tr>
          <tr>
          <td data-label="Date">21/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">ALGEBRA1: MATRICES, DETERMINANTES, COMPLEX NUMBERS, QUADRATIC EQUATIONS, SEQUANCE AND SERIES, L.P.P, LINEAR INEQUALITIES, M.REASONING.</td>
          <td data-label="BIOLOGY CHAPTERS">BIOMOLECULES
, MINERAL NUTRITION</td>
        </tr>
          <tr>
          <td data-label="Date">23/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">ALGEBRA2: VECTORS, PERMUTATION &amp;
COMBINATION, BINOMIAL THEOREM. &amp; PROBABILITY, RANDOM VARIABLES, STATISTICS</td>
          <td data-label="BIOLOGY CHAPTERS">TRANSPORT IN PLANTS PHOTOSYNTHESIS IN HIGHER PLANTS</td>
        </tr>
          <tr>
          <td data-label="Date">25/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TOTAL GEOMETREY INCLUDING 3D-GEOMETRY.</td>
          <td data-label="BIOLOGY CHAPTERS">HUMAN HEALTH AND DISEASE STRATEGIES FOR ENHANCEMENT IN FOOD
PRODUCTION</td>
        </tr>
          <tr>
          <td data-label="Date">27/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">CALCULUS1: SETS, RELATIONS. FUNCTIONS, LIMITS, CONTINUITY, DIFFERENTIATION.</td>
          <td data-label="BIOLOGY CHAPTERS">MICROBES IN HUMAN WELFARE EVOLUTION</td>
        </tr>
          <tr>
          <td data-label="Date">29/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">CALCULUS2: APPLICATION OF DERIVATIVES, TOTAL INTEGRATION, AREAS, DIFFERENTIAL EQUATIONS.</td>
          <td data-label="BIOLOGY CHAPTERS">RESPIRATION IN PLANTS PLANT GROWTH AND DEVELOPMENT</td>
        </tr>
          
      </tbody>
    </table>
  </div>
  <br>
  <br>

    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Electrostatics</h4>
      <a href="{{ url_for('static',filename='physics_electrostatics.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Solid State</h4>
      <a href="{{ url_for('static',filename='chem_Solid_State.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Electrostatics Key</h4>
      <a href="{{ url_for('static',filename='phy_Electrostatics_key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Solid State Key</h4>
      <a href="{{ url_for('static',filename='chem_Solid_State_key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Living World</h4>
      <a href="{{ url_for('static',filename='bio_living_world.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Living World Key</h4>
      <a href="{{ url_for('static',filename='bio_living_world_key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Reproduction in Organisms</h4>
      <a href="{{ url_for('static',filename='bio_reproduction.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Reproduction in Organisms Key</h4>
      <a href="{{ url_for('static',filename='bio_reproduction_key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - Online Test 1</h4>
      <a href="{{ url_for('static',filename='maths_online_test_1.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - Online Test 1 Key</h4>
      <a href="{{ url_for('static',filename='maths_online_test_1_key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Solutions</h4>
      <a href="{{ url_for('static',filename='chem-solution.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Solutions Key</h4>
      <a href="{{ url_for('static',filename='chem-solution-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Current Electricity</h4>
      <a href="{{ url_for('static',filename='phy-curr-electricity.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Current Electricity Key</h4>
      <a href="{{ url_for('static',filename='phy-curr-electricity-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Living World Revised Key</h4>
      <a href="{{ url_for('static',filename='living-world-living-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 2</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-2.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 2 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-2-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Sexual reproduction in flowering plants</h4>
      <a href="{{ url_for('static',filename='Sexual_reproduction_in_flowering_plants.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Sexual reproduction in flowering plants Key</h4>
      <a href="{{ url_for('static',filename='Sexual_reproduction_in_flowering_plants-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Moving charge and magnetism worksheet</h4>
      <a href="{{ url_for('static',filename='moving_charge_and_magnetism_worksheet.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Moving charge and magnetism worksheet Key</h4>
      <a href="{{ url_for('static',filename='moving_charge_and_magnetism_worksheet-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Elecrochemistry</h4>
      <a href="{{ url_for('static',filename='Elecrochemistry.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Elecrochemistry Key</h4>
      <a href="{{ url_for('static',filename='Elecrochemistry-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - Cet Online test-3</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-3.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - Cet Online test-3 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-3-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - principles of inheritance</h4>
      <a href="{{ url_for('static',filename='principles_of_inheritance_practice_questions_2020.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - principles of inheritance Key</h4>
      <a href="{{ url_for('static',filename='principles_of_inheritance_practice_questions_2020-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Chemical Kinetics</h4>
      <a href="{{ url_for('static',filename='chemical_kinetics.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Chemical Kinetics Key</h4>
      <a href="{{ url_for('static',filename='chemical_kinetics-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - EMI and AC</h4>
      <a href="{{ url_for('static',filename='EMI_and_AC.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - EMI and AC Key</h4>
      <a href="{{ url_for('static',filename='EMI_and_AC-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - ANATOMY OF FLOWERING PLANTS</h4>
      <a href="{{ url_for('static',filename='ANATOMY_OF_FLOWERING_PLANTS.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - ANATOMY OF FLOWERING PLANTS Key</h4>
      <a href="{{ url_for('static',filename='ANATOMY_OF_FLOWERING_PLANTS-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 4</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-4.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 4</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-4-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Ray Optics</h4>
      <a href="{{ url_for('static',filename='Ray_optics.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Ray Optics key</h4>
      <a href="{{ url_for('static',filename='Ray_optics_key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Surface Chemistry</h4>
      <a href="{{ url_for('static',filename='surface_chemistry.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Surface Chemistry key</h4>
      <a href="{{ url_for('static',filename='surface_chemistry-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Biological Classification</h4>
      <a href="{{ url_for('static',filename='BIOLOGICAL_CLASSIFICATION.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Biological Classification Key</h4>
      <a href="{{ url_for('static',filename='Biological_classification-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 5</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-5.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 5 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-5-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Haloalkanes and Haloarenes</h4>
      <a href="{{ url_for('static',filename='Haloalkanes_and_Haloarenes.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Haloalkanes and Haloarenes Key</h4>
      <a href="{{ url_for('static',filename='Haloalkanes_and_Haloarenes-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Wave Optics</h4>
      <a href="{{ url_for('static',filename='wave_optics.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Wave Optics Key</h4>
      <a href="{{ url_for('static',filename='wave_optics_key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 6</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-6.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 6 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-6-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Plant Kingdom</h4>
      <a href="{{ url_for('static',filename='PLANT_KINGDOM.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Plant Kingdom Key</h4>
      <a href="{{ url_for('static',filename='Plant_kingdom-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Alcohols phenols and ether</h4>
      <a href="{{ url_for('static',filename='Alcohols_phenols_and_ether.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Alcohols phenols and ether Key</h4>
      <a href="{{ url_for('static',filename='Alcohols_phenols_and_ether-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Dual nature and atoms</h4>
      <a href="{{ url_for('static',filename='Dual_nature_and_atoms.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Dual nature and atoms Key</h4>
      <a href="{{ url_for('static',filename='Dual_nature_of_radiation_and_matter_key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 7</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-7.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 7 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-7-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Morphology of flowering plants</h4>
      <a href="{{ url_for('static',filename='Morphology_of_flowering_plants.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Morphology of flowering plants Key</h4>
      <a href="{{ url_for('static',filename='Morphology_of_flowering-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Aldehydes ketones and carboxylic acid</h4>
      <a href="{{ url_for('static',filename='Aldehydes__ketones_and_carboxylic_acid.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Aldehydes ketones and carboxylic acid Key</h4>
      <a href="{{ url_for('static',filename='Aldehydes__ketones_and_carboxylic_acid-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Nucleus and semiconductors</h4>
      <a href="{{ url_for('static',filename='Nucleus_and_semiconductors.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Nucleus and semiconductors Key</h4>
      <a href="{{ url_for('static',filename='Nucleus_and_semi_conductor_key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Aimal kingdom</h4>
      <a href="{{ url_for('static',filename='Aimal_kingdom.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Aimal kingdom Key</h4>
      <a href="{{ url_for('static',filename='Aimal_kingdom-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Human reproduction</h4>
      <a href="{{ url_for('static',filename='Human_reproduction.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Human reproduction Key</h4>
      <a href="{{ url_for('static',filename='Human_reproduction-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 8</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-8.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 8 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-8-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Amines</h4>
      <a href="{{ url_for('static',filename='Amines.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Amines Key</h4>
      <a href="{{ url_for('static',filename='Amines-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in straight line vectors units and dimensions</h4>
      <a href="{{ url_for('static',filename='Motion_in_straight_line_vectors_units_and_dimensions.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in straight line vectors units and dimensions Key</h4>
      <a href="{{ url_for('static',filename='Motion_in_straight_line_vectors_units_and_dimensions_key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test - 9</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-9.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test - 9 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-9-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Molecular basis of Inheritance Reproductive health1</h4>
      <a href="{{ url_for('static',filename='Molecular_basis_of_Inheritance__Reproductive_health1.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Molecular basis of Inheritance Reproductive health1 Key</h4>
      <a href="{{ url_for('static',filename='Molecular_basis_of_Inheritance__Reproductive_health1-key.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Biomolecules</h4>
      <a href="{{ url_for('static',filename='Biomolecules.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - Biomolecules Key</h4>
      <a href="{{ url_for('static',filename='Biomolecules-ke.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in two dimension Gravitation</h4>
      <a href="{{ url_for('static',filename='Motion_in_two_dimension__Gravitation.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in two dimension Gravitation Key</h4>
      <a href="{{ url_for('static',filename='Motion_in_two_dimension_gravition_ke.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
      
  </div>
</div>
<h4 style="padding:5px">Note : If you are unable to view the downloaded doccument ,please download "wps office app" from play store.</h4>
</body>
</html>
