<!DOCTYPE html>
<html lang="en">
<head>
  <title>Masters PU College</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom: 30px;color:#fff;background-color: #3498DB;padding: 2px">
  <h1><b>Masters PU College,Hassan</b></h1>
  <p>Students can download these model question papers as a reference to prepare accordingly for their Karnataka 2nd PUC Exam 2020</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h3>QP-1</h3>
      <a href="{{ url_for('static',filename='text-file1.pdf')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h3>QP-2</h3>
      <a href="text-file1.pdf" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-2" width="104" height="142">
        </a>
    </div>
    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h3>QP-3</h3>
      <a href="text-file1.pdf" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-3" width="104" height="142">
        </a>
    </div>
  </div>
</div>

</body>
</html>
